@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/5039684.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* <a href="https://www.freepik.com/free-vector/digital-global-connection-network-technology-background_6864937.htm#query=technology%20background&position=22&from_view=keyword&track=ais&uuid=8703c36e-9359-4c18-8442-c134410d5be9">Image by starline</a> on Freepik */
